body {
  font-family: Arial, sans-serif;
  background: #fafafa;
  color: #222;
}
#app {
  width: 350px;
  margin: 50px auto;
  background: #fff;
  border-radius: 10px;
  padding: 30px;
  box-shadow: 0 5px 20px #ddd;
}
input, button {
  padding: 8px;
  width: 90%;
  margin: 5px 0;
  border-radius: 5px;
  border: 1px solid #ccc;
}
button {
  background: #1976d2;
  color: white;
  cursor: pointer;
  border: none;
}
button:hover {
  background: #135ba1;
}
#msg {
  color: red;
  margin-top: 10px;
}
